  name: env variables exmaples
  on:
    push:
      branches:
        - main
  env:
    APP_ENV_NAME: dev
  jobs:
    job_env_exmaple:
      env:
        APP_ENV_NAME: test
      runs-on: ubuntu-latest
      steps: 
        - name: env variabel example
          env:
            APP_ENV_NAME: PROD
          run: echo " env name is $APP_ENV_NAME "
        
